@using BlazorLearningKickOff.Components;
@page "/"


<Alert Show="@ShowAlert">
    <span class="oi oi-check mr-2" aria-hidden="true"></span>
    <strong>Blazor is so Cool !!!</strong>
</Alert>
<DismissableAlert @bind-Show="@ShowAlert">
    <span class="oi oi-check mr-2" aria-hidden="true"></span>
    <strong>Blazor is so Cool Again!!!</strong>
    </DismissableAlert>

<button class="btn btn-secondary" @onclick="@ToggleAlert">Toggle</button>

<Timer TimeInSeconds="5" Tick="@ToggleAlert"/>

<GrandMother>
    <GrandChild/>
    <DismissableAlert Show="true">
        <GrandChild/>
        </DismissableAlert>
    </GrandMother>

<div>@ShowAlert</div>
@code{
    
    public bool ShowAlert { get; set; } = true;

    public void ToggleAlert()
    {
      ShowAlert = !ShowAlert;
    }
}